extends layout

block content
  h1 DashBoard
  div
      button(type="button", style="margin-left: 300px;" onclick="window.location.href = '/dashboard.html'" ) Refresh
      div &nbsp;
      div.container
          table(border='1')
              thead
                tr
                    th RequestId
                    th CustomerId
                    th Time Elapsed
                    th Status
                    th Driver
              tbody
                  console.log(items)
                  each item in items
                      tr
                        td= item.rId
                        td= item.customer
                        td= item.elapsedTime
                        td= item.status
                        td= item.driver



